---
Checks: >
  -*,
  clang-analyzer-*,
  clang-diagnostic-*,
  google-*,
  -google-readability-todo,
  modernize-*,
  -modernize-use-trailing-return-type,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length

WarningsAsErrors: >
  clang-analyzer-core.NullDereference,
  clang-analyzer-unix.*

HeaderFilterRegex: 'include/pg_stat_ch/.*'

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ConstantCase
    value: kCamelCase
  - key: readability-identifier-naming.GlobalConstantCase
    value: kCamelCase
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
...
