---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2
TabWidth: 2
UseTab: Never
AccessModifierOffset: -1
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
IncludeCategories:
  # postgres.h must come first
  - Regex: '^"postgres\.h"'
    Priority: -2
  - Regex: '^"c\.h"'
    Priority: -1
  # Project headers
  - Regex: '^"pg_stat_ch/'
    Priority: 1
  # System headers
  - Regex: '^<'
    Priority: 2
  # Other headers
  - Regex: '.*'
    Priority: 3
SortIncludes: true
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: c++17
