[submodule "third_party/clickhouse-cpp"]
	path = third_party/clickhouse-cpp
	url = https://github.com/ClickHouse/clickhouse-cpp.git
[submodule "third_party/opentelemetry-cpp"]
	path = third_party/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "third_party/arrow"]
	path = third_party/arrow
	url = https://github.com/apache/arrow.git
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = https://github.com/facebook/zstd.git
[submodule "third_party/grpc"]
	path = third_party/grpc
	url = https://github.com/grpc/grpc.git
